{% extends "base.html" %}
{% block content %}
    <form action='{{url_for("ec2_list")}}' method='get'>
        <input type='submit' value='Back' class="btn btn-primary" />
    </form>
    <br>

    <form action='{{url_for("s3_upload",id=id)}}' method='post' enctype='multipart/form-data' onsubmit="return validateForm()">
       <label class="btn btn-info">
           Choose File<input type='file' id='new_file' name='new_file' accept='application/pdf' hidden ">
        </label>
        <input type="submit" value="Upload New File" class="btn btn-success" />
    </form>

    <table class="table">
        <thead>
            <th>Name</th>
            <th>Size</th>
            <th>Last Modified</th>
        </thead>
        {% for k in keys %}
        <tr>
            <td>{{ k.key }}</td>
            <td>{{ k.size }}</td>
            <td>{{ k.last_modified }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}