{% extends "base.html" %}
{% block content %}

    <br>
    <br>
    <h2>Auto Scaling Policy </h2>
    <br>
    <a href="#" class="btn btn-primary active" role="button" aria-pressed="true">On</a>
    <a href="#" class="btn btn-secondary active" role="button" aria-pressed="true"> Off</a>
    <br>
    <br>
     <form role="form" class="form-inline" action="/ec2_examples/scaling/" method="post">
      <table class="table table-hover" />
    <thead>
       <th>Parameter</th>
       <th>Value</th>
       <th><span style="padding-left:20px;">New Value</span></th>
       <th>Submit</th>
    </thead>
    <tr>
        <td>Upper Bound</td>
        <td>{{ upperBound}}</td>
        <td>
            <div class="form-group col-md-4">
                <input type="text" name="upperBound" class="form-control input-normal" />
            </div>
        </td>
        <td> <input type="submit" value="Submit" class="btn btn-danger"></td>
    </tr>
        <tr>
        <td>Lower Bound</td>
        <td>{{ lowerBound }}</td>
          <td>
            <div class="form-group col-md-4">
                <input type="text" name="lowerBound" class="form-control input-normal" />
            </div>
        </td>
        <td> <input type="submit" value="Submit" class="btn btn-danger"></td>
    </tr>
        <tr>
        <td>Scale Up</td>
        <td>{{ scaleUp }}</td>
         <td>
            <div class="form-group col-md-4">
                <input type="text" name= "scaleUp" class="form-control input-normal" />
            </div>
        </td>
        <td> <input type="submit" value="Submit" class="btn btn-danger"></td>

    </tr>
        <tr>
        <td>Scale Down</td>
        <td>{{ scaleDown }}</td>
         <td>
            <div class="form-group col-md-4">
                <input type="text"name= "scaleDown" class="form-control input-normal" />
            </div>
        </td>
        <td> <input type="submit"  value="Submit" class="btn btn-danger"></td>
    </tr>


    </table>
     </form>
    <br>
    <br>

    <hr/>
    <h2>User Data</h2>
    <form action="{{url_for('delete_all_userdata')}}" method="post" onsubmit='return confirm("Are you sure?")'>
        <input type="submit" value="Delete All User Data" class="btn btn-danger">
    </form>
    <br>
    <br>
    <hr/>
    <h2>S3 Instances</h2>
    <table class="table table-hover"/>
        <thead>
           <th>Name</th>
           <th>Creation Time</th>
           <th></th>
        </thead>
        {% for bucket in buckets %}
            <tr>
                <td>{{ bucket.name }}</td>
                <td>{{ bucket.creation_date }}</td>
                <td>
                    <form action="{{url_for('s3_view',id=bucket.name)}}" method='get'>
                        <input type='submit' value='Details' class="btn btn-info"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>   
    <hr/>
    <h2>EC2 Instance Information </h2>
    <form action="{{url_for('ec2_create')}}" method="post">
        <input type="submit" value="New" class="btn btn-primary">
    </form>

    <table class="table table-hover" />
    <thead>
       <th>Name</th>
       <th>ID</th>
       <th>Type</th>
       <th>Availability Zone</th>
       <th>Status</th>
       <th></th>
       <th></th>
    </thead> 
    {% for instance in instances %}
        <tr>
         {% if( instance.id == manager) %}
             <td><b>Manager</b> {{ instance.tags[0]['Value'] }}</td>
            <td>{{ instance.id }}</td>       
            <td>{{ instance.instance_type }}</td>
            <td>{{ instance.placement['AvailabilityZone']}}</td>
            <td>{{ instance.state['Name'] }}</td>
            <td>
                <form action="{{url_for('ec2_view',id=instance.id)}}" method='get'>
                    <input type='submit' value='Details' class="btn btn-info" />
                </form>
            </td>
            <td>
            </td>
        {% endif %}
        {%   if( instance.id == database) %}
             <td><b>Database</b> {{ instance.tags[0]['Value'] }}</td>
            <td>{{ instance.id }}</td>
            <td>{{ instance.instance_type }}</td>
            <td>{{ instance.placement['AvailabilityZone']}}</td>
            <td>{{ instance.state['Name'] }}</td>
            <td>
                <form action="{{url_for('ec2_view',id=instance.id)}}" method='get'>
                    <input type='submit' value='Details' class="btn btn-info" />
                </form>
            </td>
            <td>
            </td>
        {% endif %}
        </tr>
                                                                                                                                   
    {% endfor %}

    {% for instance in instances %}
        <tr>
        {%  if(( instance.tags[0]['Value'] == 'A2WorkerNode' ) and (instance.state['Name'] != 'terminated')) %}
            <td>{{ instance.tags[0]['Value'] }}</td>
	    <td>{{ instance.id }}</td>
            <td>{{ instance.instance_type }}</td>
            <td>{{ instance.placement['AvailabilityZone']}}</td>
            <td>{{ instance.state['Name'] }}</td>
            <td>
                <form action="{{url_for('ec2_view',id=instance.id)}}" method='get'>
                    <input type='submit' value='Details' class="btn btn-info" />
                </form>
            </td>
            <td>
                <form action="{{url_for('ec2_destroy',id=instance.id)}}" method='post' onsubmit='return confirm("Are you sure?")'>
                    <input type='submit' value='Destroy' class="btn btn-danger" />
                </form>
            </td>
        {% endif %}
        </tr>

    {% endfor %}
    </table>
    <br>
{% endblock %}
