{% extends "base.html" %}
{% block content %}

    <form action="{{url_for('ec2_create')}}" method="post">
        <br>
        <input type="submit" value="New" class="btn btn-primary">
    </form>
    <table class="table table-hover" />
    <thead>
       <th>ID</th>
       <th>Type</th>
       <th>Availability Zone</th>
       <th>Status</th>
       <th></th>
       <th></th>
    </thead> 
    {% for instance in instances %}
        <tr>
            {%   if( instance.id != mananger) %}
            <td>{{ instance.id }}</td>
            <td>{{ instance.instance_type }}</td>
            <td>{{ instance.placement['AvailabilityZone']}}</td>
            <td>{{ instance.state['Name'] }}</td>
            <td>
                <form action="{{url_for('ec2_view',id=instance.id)}}" method='get'>
                    <input type='submit' value='Details' class="btn btn-info" />
                </form>
            </td>
            <td>
                <form action="{{url_for('ec2_destroy',id=instance.id)}}" method='post' onsubmit='return confirm("Are you sure?")'>
                    <input type='submit' value='Destroy' class="btn btn-danger" />
                </form>
            </td>
        {% endif %}
         {%   if( instance.id == mananger) %}
             <td><b>Mananger</b> {{ instance.id }}</td>
            <td>{{ instance.instance_type }}</td>
            <td>{{ instance.placement['AvailabilityZone']}}</td>
            <td>{{ instance.state['Name'] }}</td>
            <td>
                <form action="{{url_for('ec2_view',id=instance.id)}}" method='get'>
                    <input type='submit' value='Details' class="btn btn-info" />
                </form>
            </td>
            <td>
            </td>
        {% endif %}


        </tr>

{#        {%   if( instance.id == mananger) %}#}
{#          <tr>#}
{#            <td>{{ instance.id }}</td>#}
{#            <td>{{ instance.instance_type }}</td>#}
{#            <td>{{ instance.placement['AvailabilityZone']}}</td>#}
{#            <td>{{ instance.state['Name'] }}</td>#}
{#            <td>#}
{#                <form action="{{url_for('ec2_view',id=instance.id)}}" method='get'>#}
{#                    <input type='submit' value='Details' class="btn btn-info" />#}
{#                </form>#}
{#            </td>#}
{#        </tr>#}
    {% endfor %}
    </table>

    <br>
    <br>

    <h1>S3 Instances</h2>
    <table class="table table-hover"/>
        <thead>
           <th>Name</th>
           <th>Creation Time</th>
           <th></th>
        </thead>
        {% for bucket in buckets %}
            <tr>
                <td>{{ bucket.name }}</td>
                <td>{{ bucket.creation_date }}</td>
                <td>
                    <form action="{{url_for('s3_view',id=bucket.name)}}" method='get'>
                        <input type='submit' value='Details' class="btn btn-info"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
